.slider{
    background-color: transparent;
    border: 1px solid gray;
   div{
       .range-slider__thumb{
        background-color: white !important;
    }
        background-color: orange !important;
        // .thumb{
        //     color: white;
        //     background-color: black;
        // }
    }
}